<!DOCTYPE html>
<html>
{{> head}}

<!-- first section -->
  <body>
    <section id="home">

            <div id="home-cover" class="bg-parallax ">
                <div id="home-content-box">
                    <div id="home-content-box-inner">
                        <div id="home-heading"class="animated zoomIn">
                            <h3 class="display-3"> Herman's grill </h3>
                            <p class="display-4 text-dark"> Exceptional meals for the whole family</p>
                        </div>
                          <div id="home-btn" class="animated zoomIn">
                              <button class="btn btn-lg btn-general btn-white animated zoomIn" href="#work" role="button"
                                title="View our work">View our Dishes</button>
                          </div>

                    </div>

                </div>

            </div>

        </section>

    <section id="meals">
      <div class="container-fluid">
        <div class="row">
            <div id="second-pic" class="col-md-6 to-float-right "></div>
            <div  class="col-md-6 to-float-left center-text">
              <div class="table animated slideInRight wow">

              <h3 class="disply-4 header-size-increased">Great meals</h3>
              <div class="underline"></div>
            <p class="p-size-increased">We pride ourselves on our high-quality meals. We put our hearts and
              souls into every dish that we serve. If you are looking for a beautiful
              meal served with love then stop on by at our restaurant.</p>
            </div>
          </div>

        </div>

      </div>

    </section>

    <section id="bar">
      <div class="container-fluid">
        <div class="row">
            <div  class="col-md-6 to-float-left center-text">
              <div class="table animated slideInLeft wow">

              <h3 class="disply-4 header-size-increased">Stocked bar</h3>
              <div class="underline"></div>
            <p class="p-size-increased">Our bars are filled with the highest quality beverages. Relax
            and enjoy our varied selections of liquors and beers. You will
          be sure to enjoy your time at our fun and exciting bar</p>
            </div>
          </div>
          <div id="third-pic" class="col-md-6 to-float-right "></div>

        </div>

      </div>

    </section>

    <section id="pic-links">
      <div class="container-fluid">
      <div class="row h-100 justify-content-center align-items-center">
        <div class ="col-md-4">
          <div class="img-wrapper">
            <a href="/about">
              <img src="img/rest4.jpg" class="img-fluid">
            </a>
          </div>
        </div>
        <div class ="col-md-4 text-block">
          <div class="text-wrapper wow animated fadeIn" data-wow-delay=".5s"
          data-wow-duration="1s">
            <div class="block-of-text mx-auto justify-content-center h-100">
              <h3 class="display-3"> HERMAN'S GRILL </h3>
              <p> Making classics since 1977</p>
            </div>
          </div>
        </div>
        <div class ="col-md-4">
          <div class="img-wrapper">
            <a href="/about">
              <img src="img/rest5.jpg" class="img-fluid">
            </a>
          </div>
        </div>
        <div class ="col-md-4 text-block">
          <div class="text-wrapper wow animated slideInLeft" data-wow-delay=".5s"
          data-wow-duration="1s">
            <div class="block-of-text mx-auto justify-content-center h-100">
                <h3 > "WE PUT PRIDE AND CARE INTO EACH ONE
                OF OUR DISHES SO THAT YOU LEAVE COMPLETELY SATISFIED.EACH MEAL
                IS COOKED TO THE HIGHEST STANDARD ON THE MARKET"
              </p>
              <p> -HERMAN</p>
            </div>
          </div>
        </div>
        <div class ="col-md-4">
          <div class="img-wrapper">
            <a href="/about">
              <img src="img/rest7.jpg" class="img-fluid">
            </a>
          </div>
        </div>
        <div class ="col-md-4 text-block">
          <div class="text-wrapper wow animated slideInRight" data-wow-delay=".5s"
          data-wow-duration="1s">
            <div class="block-of-text mx-auto justify-content-center h-100">
              <h3 class="display-3"> FIVE STARS </h3>
              <p>   ON YELP </p>
            </div>
          </div>
      </div>


     </div>
    </section>

    <section id="email-form">
      <div class="container-fluid" style="background-color:#e8e3e0">
          <div class="row  h-100 justify-content-center align-items-center">
              <div class="col-md-6 mx-auto">
                <h3 class="display-4">SUBSCRIBE TO FOLLOW NEWS ABOUT HERMAN'S GRILL</h3>
                <div class="underline"></div>
                <p>Leave your email and we will contact you about anything
                new with the grill</p>
              </div>

              <div class="col-md-6">
                <form>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Name</label>
                    <input type="name" class="form-control" id="exampleInputPassword1" placeholder="Enter Name">
                  </div>

                  <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
                </div>


          </div>

      </div>

    </section>
    {{> footer}}
  </body>

</html>
