<!DOCTYPE html>
<html>
{{> head}}

<!-- first section -->
  <body>
    <section id="home">

            <div id="home-cover" class="bg-parallax ">
                <div id="home-content-box">
                    <div id="home-content-box-inner">
                        <div id="home-heading"class="animated zoomIn">
                            <h3 class="display-3"> Herman's grill </h3>
                            <p class="display-4 text-dark"> Exceptional meals for the whole family</p>
                        </div>
                          <div id="home-btn" class="animated zoomIn">
                              <button class="btn btn-lg btn-general btn-white animated zoomIn" href="#work" role="button"
                                title="View our work">View our Dishes</button>
                          </div>

                    </div>

                </div>

            </div>

        </section>

    <section id="about">
      <div class="container-fluid">
        <div class="row">
            <div id="second-pic" class="col-md-6 to-float-right "></div>
            <div  class="col-md-6 to-float-left center-text">
              <div class="table">

              <h3 class="disply-4">Great meals</h3>
            <p>We pride ourselves on our high-quality meals. We put our hearts and
              souls into every dish that we serve. If you are looking for a beautiful
              meal served with love then stop on by at our restaurant.</p>
            </div>
          </div>

        </div>

      </div>

    </section>

    <section id="owner">
      <div class="container-fluid">
        <div class="row">
            <div  class="col-md-6 to-float-left center-text">
              <div class="table">

              <h3 class="disply-4">Stocked bar</h3>
            <p>Our bars are filled with the highest quality beverages. Relax
            and enjoy our varied selections of liquors and beers. You will
          be sure to enjoy your time at our fun and exciting bar</p>
            </div>
          </div>
          <div id="third-pic" class="col-md-6 to-float-right "></div>

        </div>

      </div>

    </section>



  </body>

</html>
