<!DOCTYPE html>
<html>
{{> head}}


  <body>
    {{> header}}
      <div class="jumbotron hometron">
        <h2 class="text-center display-2 blockback darken hermansgrill">Herman's Grill<h2>
           <p class="text-center blockback centerit darken">Serving classics since 1977</p>
      </div>

  <div class="container">
    <h3 class="text-center pt-100">Fine dining meals for reasonable prices</h3>
    <p class="text-center">We pride our selves on delivering well crafted meals
    with a variety of dishes. From smoked salmon to well-done burgers we provide
    exceptional plates for you to enjoy. When you come to Heman's Grill you can
    expect to be treated like you are family.
  </p>
  </div>


  {{> footer}}
  </body>

</html>
